body {
  background-color: #8a8a8a;
  color: #fff;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  width: 360px;
  margin: 0 auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-size: 2em; /* 20px */
}

h2 {
  font-size: 1.8em; /* 18px */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 1.6em; /* 16px */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h4 {
  font-size: 1.4em; /* 14px */
  line-height: 1.2em;
}

.container {
  background-color: #0B2535;
}

#nav-text {
padding: 5.25% 20%;
}

.back-icon {
float: left;
padding-top: 5%;
padding-left: 4%;
}

.map {
  background-image: url("../images/map.png");
  width: 100%;
  height: 250px;
  margin-bottom: 1px;
}

.bus-stop {
  position: relative;
  left: 75px;
  top: 20px;
}

a:link {
  background-color: #E9F4FB;
  color: #0B2535;
  text-decoration: none;
}

a:visited {
  background-color: #E9F4FB;
  color: #0B2535;
}

.tabs {
  height: 48px;
  border-bottom: 1px solid #0B2535;
  text-align: center;
  text-decoration: none !important;
}

#arriving .tabs {
  margin-bottom: 5%;
}

.left-tab {
  float: left;
  width: 50%;
  height: 100%;
  border-right: 1px solid #0B2535;
  padding: 4%;
  border-bottom: 3px solid #E9F4FB;
}

#arriving .left-tab {
  border-bottom: 3px solid #E86055;
}

.right-tab {
  float: right;
  width: 50%;
  height: 100%;
  padding: 4%;
  border-bottom: 3px solid #E9F4FB;
}

#lines .right-tab {
  border-bottom: 3px solid #E86055;
}

/*Next Arriving text*/
.nxt {
  text-align: left;
  float:left;
  padding: 0 0 3% 4%;
}

/*Arrival Time text*/
.arr {
  text-align: right;
    padding: 0 4% 3% 0;
}

/*Upcoming text*/
.upc {
  text-align: left;
  padding: 0 0 3.5% 4%;
}

/*Next arriving bus info*/
#next{
  margin-bottom: 5%;
}

/*bus info cards*/
.info-button {
  background-color: #E9F4FB;
  color: #0B2535;
  margin-top: 1px;
  height: 64px;
}

.L-text {
  width: 50%;
  float: left;
  text-align: left;
  padding: 14px 16px;
}

.R-text {
  width: 50%;
  float: right;
  padding: 14px 16px;
  text-align: right;
}

/*Unavailable bus cards*/
.disable {
  background-color: #e5e5e5;
  color: #666;
  background-image: url("../images/error.png");
  background-repeat: no-repeat;
  background-position: 14px 15px;
}

.text-indent {
  padding-left: 23px;
}
